PYTHONPATH=/opt/pipelines
AIRFLOW_UID=50000
CELERY_HOSTNAME=master
QUEUES=default,transform

AIRFLOW_CORE_EXECUTOR=CeleryExecutor
AIRFLOW_CORE_FERNET_KEY=qlypDlgBlwS87lbNu6_sqpAo0CxVb7ExSi4gM8Je2bM=
AIRFLOW_CORE_DAGS_FOLDER=/opt/pipelines/dags
AIRFLOW_CORE_DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW_CORE_LOAD_EXAMPLES=false
AIRFLOW_CORE_EXECUTION_API_SERVER_URL=http://airflow-apiserver:8080/execution/
#AIRFLOW_CORE_AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager

AIRFLOW_DATABASE_SQL_ALCHEMY_CONN=postgresql+psycopg2://coder-ra-c6:Riwi2026%2A%2A@51.222.142.204:5432/scorpius_airflow_db

AIRFLOW_CELERY_BROKER_URL=amqp://airflow:Riwi2026@10.0.2.124:5672/airflow
AIRFLOW_CELERY_RESULT_BACKEND=db+postgresql+psycopg2://coder-ra-c6:Riwi2026%2A%2A@51.222.142.204:5432/scorpius_airflow_db

AIRFLOW_API_BASE_URL=http://3.13.195.144
AIRFLOW_API_INSTANCE_NAME=Airflow Data Platform
AIRFLOW_API_SECRET_KEY=6dc35098d9fef4b705bedc9d032e18f281b1937560adbaef03d9e3a8b302be1f

AIRFLOW_API_AUTH_JWT_SECRET=854296a7acd5dbb159a42a91e94fd442839479003bcf45fa3e8c9dc7cd8bd34c
AIRFLOW_SCHEDULER_ENABLE_HEALTH_CHECK=true
AIRFLOW_DAG_PROCESSOR_REFRESH_INTERVAL=300
AIRFLOW_LOGGING_REMOTE_LOGGING=false
AIRFLOW_LOGGING_REMOTE_BASE_LOG_FOLDER=s3://scorpius-airflow-logs/logs
AIRFLOW_LOGGING_REMOTE_LOG_CONN_ID=aws_s3_logs
AIRFLOW_LOGGING_ENCRYPT_S3_LOGS=false

_AIRFLOW_DB_MIGRATE=true
_AIRFLOW_WWW_USER_CREATE=true
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=Riwi2026

EXTRA_REQUIREMENTS="pandas openpyxl uv psycopg2-binary gunicorn apache-airflow-providers-amazon[s3] apache-airflow-providers-fab"