# =========================
# CORE
# =========================
PYTHONPATH=/opt/pipelines
AIRFLOW_UID=50000 

# =========================
# WORKER CONFIG
# =========================
CELERY_HOSTNAME=worker-1
QUEUES=default

# RABBITMQ (solo EC2 rabbitmq)
RABBITMQ_USER=airflow
RABBITMQ_PASS=Riwi2026
RABBITMQ_VHOST=/

# =========================
# AIRFLOW CORE
# =========================
# AIRFLOW CORE
AIRFLOW__CORE__EXECUTOR=CeleryExecutor
AIRFLOW__CORE__FERNET_KEY=qlypDlgBlwS87lbNu6_sqpAo0CxVb7ExSi4gM8Je2bM=
AIRFLOW__CORE__DAGS_FOLDER=/opt/pipelines/dags
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=true
AIRFLOW__CORE__LOAD_EXAMPLES=false
AIRFLOW__CORE__EXECUTION_API_SERVER_URL=http://airflow-apiserver:8080/execution/

# Execution API URL — DIFERENTE en master vs workers:
#   master  → http://airflow-apiserver:8080/execution/   (servicio dentro del compose)
#   workers → http://10.0.2.114:8080/execution/          (IP privada del master)


# =========================
# DATABASE
# =========================
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://coder-ra-c6:Riwi2026%2A%2A@51.222.142.204:5432/scorpius_airflow_db

# =========================
# CELERY
# =========================
AIRFLOW__CELERY__BROKER_URL=amqp://airflow:Riwi2026@10.0.2.124:5672/
AIRFLOW__CELERY__RESULT_BACKEND=db+postgresql+psycopg2://coder-ra-c6:Riwi2026%2A%2A@51.222.142.204:5432/scorpius_airflow_db

  
  # API SERVER (solo master)
AIRFLOW__API__BASE_URL=http://3.13.195.144
AIRFLOW__API__INSTANCE_NAME=Airflow Data Platform
AIRFLOW__API__SECRET_KEY=6dc35098d9fef4b705bedc9d032e18f281b1937560adbaef03d9e3a8b302be1f



# =========================
# API / WEB
# =========================
AIRFLOW__API__BASE_URL=http://3.13.195.144                                                                # [SOLO MASTER] URL pública del proxy
AIRFLOW__API__INSTANCE_NAME=Airflow Data Platform                                                         # [SOLO MASTER]
AIRFLOW__API__SECRET_KEY=6dc35098d9fef4b705bedc9d032e18f281b1937560adbaef03d9e3a8b302be1f                 # [SOLO MASTER]
# AIRFLOW__API__SERVER_TYPE=gunicorn   

AIRFLOW__API_AUTH__JWT_SECRET=854296a7acd5dbb159a42a91e94fd442839479003bcf45fa3e8c9dc7cd8bd34c            
AIRFLOW__API_AUTH__JWT_ISSUER=https://<YOUR_DOMAIN>/execution/

AIRFLOW__CORE__EXECUTION_API_SERVER_URL=https://<YOUR_DOMAIN>/execution/

# =========================
# SCHEDULER
# =========================
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK=true
AIRFLOW__DAG_PROCESSOR__REFRESH_INTERVAL=300

# =========================
# LOGGING (S3 opcional)
# =========================
AIRFLOW__LOGGING__REMOTE_LOGGING=true
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://scorpius-airflow-logs/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=aws_default
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false

# =========================
# CLI / INIT
# =========================
_AIRFLOW_DB_MIGRATE=true
_AIRFLOW_WWW_USER_CREATE=true
_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=Riwi2026

# =========================
# LOGGING
# =========================
AIRFLOW__LOGGING__REMOTE_LOGGING=false
AIRFLOW__LOGGING__REMOTE_BASE_LOG_FOLDER=s3://<BUCKET>/logs
AIRFLOW__LOGGING__REMOTE_LOG_CONN_ID=my_s3_conn
AIRFLOW__LOGGING__ENCRYPT_S3_LOGS=false

# =========================
# EXTRA (solo si necesitas)
# =========================
EXTRA_REQUIREMENTS=