PYTHONPATH:
CELERY_HOSTNAME:
QUEUES:
AIRFLOW__CORE__EXECUTOR:
AIRFLOW__CORE__AUTH_MANAGER:
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN:
AIRFLOW__CELERY__RESULT_BACKEND:
AIRFLOW__CELERY__BROKER_URL:
AIRFLOW__CORE__FERNET_KEY:
AIRFLOW_UID=
AIRFLOW__CORE__DAGS_FOLDER=
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION:
AIRFLOW__CORE__LOAD_EXAMPLES:
AIRFLOW__API__BASE_URL:
AIRFLOW__API__INSTANCE_NAME:
AIRFLOW__CORE__EXECUTION_API_SERVER_URL:
AIRFLOW__API_AUTH__JWT_SECRET:
AIRFLOW__API_AUTH__JWT_ISSUER:
AIRFLOW__API__SECRET_KEY:
AIRFLOW__API__SERVER_TYPE:
AIRFLOW__SCHEDULER__ENABLE_HEALTH_CHECK:
_PIP_ADDITIONAL_REQUIREMENTS:
_AIRFLOW_DB_MIGRATE:
_AIRFLOW_WWW_USER_CREATE:
_AIRFLOW_WWW_USER_USERNAME:
_AIRFLOW_WWW_USER_PASSWORD:
_PIP_ADDITIONAL_REQUIREMENTS: